<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome {{user.name}}</title>
        <script src="{{ url_for('static', filename='js/app.js') }}" ></script>
    </head>
    <body onload='saveUserDataToLocalStore({
      "username": "{{user.name}}",
      "did": "{{user.did}}"
    })'>
          <h1>Welcome {{user.name}}</h1>
          <h2>Public address</h2>
          <span>{{user.addr}}</span>
          <h2>Digital Identity</h2>
          <span>{{user.did}}</span>
        <br>
        <br>
        <ul>
          <li><a href="/login">Login as User</a></li>
          <li><a href="/encode">Encode a secret</a></li>
          <li><a href="/decode">Decode a secret</a></li>
      </ul>
    </body>
  </html>