<!DOCTYPE html>
  <html lang="en">
    {% include '_partial_head.html' %}
    <body onload='saveUserDataToLocalStore({
      "username": "{{user.name}}",
      "did": "{{user.did}}"
    });  loadUserDataIntoForm()'>
      {% include '_partial_header.html' %}
      <h1>Welcome {{user.name}}</h1>
          <h2>Identus Wallet ID</h2>
          <span>{{user.addr}}</span>
          <h2>Digital Identity</h2>
          <span>{{user.did}}</span>
        <br>
        <br>        
        {% if user.isSender %}
          {% include '_partial_footer.html' %}
        {% else %}
          {% include '_partial_footer_receiver.html' %}
        {% endif %}
  </body>
</html>