<!DOCTYPE html>
<html lang="en">
    {% include '_partial_head.html' %}
    <body onload="loadUserDataIntoForm()">
        {% include '_partial_header_bob.html' %}
        <h1>Decode someone else's Secret</h1>

        <form action="/decoded_as_receiver" method="post" onsubmit="onDecode(event)" id="formDecode">
            <label style="display:block; margin-top:12px;"  for="secret">Secret:</label>
            <input type="text" id="secret" name="secret" required>
            <input type="hidden" id="secret_s" name="secret_s" required>
            <input type="hidden" id="secret_i" name="secret_i" required>
            <input type="hidden" id="secret_c" name="secret_c" required>
            <button style="display:block; margin-top:12px;" type="submit">Decode</button>
        </form>
    <br>
    <br>
    {% include '_partial_footer.html' %}
    </body>
</html>