<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>
    <title>Decode</title>                
</head>
    <body onload="loadUserDataIntoForm()">
        <h1>Decode your own Secret</h1>
        <div>You are logged in as 
            <b id="idDisplayUsername"></b>
        </div>
        <br />

        <form action="/decode" method="post" onsubmit="onDecode(event)" id="formDecode">
            <label for="secret">Secret:</label>
            <input type="text" id="secret" name="secret" required>
            <input type="hidden" id="username" name="username" required>
            <input type="hidden" id="secret_s" name="secret_s" required>
            <input type="hidden" id="secret_sa" name="secret_sa" required>
            <input type="hidden" id="secret_i" name="secret_i" required>
            <input type="hidden" id="secret_c" name="secret_c" required>
            <button type="submit">Decode</button>
        </form>
    <br>
    <br>
      <ul>
          <li><a href="/login">Login as User</a></li>
          <li><a href="/encode">Encode a secret</a></li>
          <li><a href="/decode">Decode a secret</a></li>
      </ul>
    </body>
  </html>