<!DOCTYPE html>
<html lang="en">
    {% include '_partial_head.html' %}
    <body onload="loadUserDataIntoForm()">
        {% include '_partial_header.html' %}

        <h1>Encode Text</h1>

        <form action="/encode" method="post">
            <label  style="display:block; margin-top:12px;" for="title">Name of the secret (not stored):</label>
            <input type="text" id="title" name="title" required>

            <label style="display:block; margin-top:12px;" for="secret">Your secret in plain text:</label>
            <input type="text" id="secret" name="secret" required>

            <label style="display:block; margin-top:12px;" for="condition">Condition:</label>
            <input type="text" id="condition" name="condition" required>
            
            <input type="hidden" id="did" name="did" >
            <input type="hidden" id="username" name="username" required>
            <button style="display:block; margin-top:12px;" type="submit">Encode</button>
        </form>

        {% include '_partial_footer.html' %}

    </body>
</html>