<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>
    <title>Encoded Result</title>
</head>
    <body onload="saveSecretKeysToLocalStore()">
        <h1>{{secret.t}}</h1>
        <h2>Secret + condition</h2>
        <img src="data:image/png;base64,{{secret.q}}" alt="QR Code Secret">
        <span id="secret_e">{{secret.e}}</span>
        <br>

        <input type="hidden" id="secret_sa" value={{secret.sa}} />
        <input type="hidden" id="secret_i" value={{secret.i}} />
        <input type="hidden" id="secret_c" value={{secret.c}} />
    </body>
    <br>
    <br>
      <ul>
          <li><a href="/login">Login as User</a></li>
          <li><a href="/encode">Encode a secret</a></li>
          <li><a href="/decode_as_sender">Decode my own secret </a></li>
          <li><a href="/decode_as_receiver">Decode a secret I received</a></li>
      </ul>
    </body>
  </html>