<!DOCTYPE html>
<html lang="en">
    {% include '_partial_head.html' %}
    
    <body onload="loadUserDataIntoForm(); saveSecretKeysToLocalStore()">
        {% include '_partial_header.html' %}

        <h1 id="secret_t" name="secret_t">{{secret.t}}</h1>
        <h2>Secret + condition</h2>
        <img src="data:image/png;base64,{{secret.q}}" alt="QR Code Secret">
        <br>
        <span id="secret_e">{{secret.e}}</span>

        
        <input type="hidden" id="secret_i" name="secret_i" value={{secret.i}} />
        <input type="hidden" id="secret_c" name="secret_c" value={{secret.c}} />
        <input type="hidden" id="secret_sa" value={{secret.sa}} />
        <input type="hidden" id="username" name="username" required>
        <input type="hidden" id="hasVC" name="hasVC" value={{secret.hasVC}} />
    
        {% include '_partial_footer.html' %}
    </body>
</html>