<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>                
        <script src="app.js" defer></script> 
    </head>
    <body onload="loadFormData()">
      <h1>Welcome to OneCrypto Pass</h1> 
      <ul>
          <li><a href="/login">Login as User</a></li>
          <li><a href="/encode">Encode a secret</a></li>
          <li><a href="/decode_as_sender">Decode my own secret </a></li>
          <li><a href="/decode_as_receiver">Decode a secret I received</a></li>
      </ul>
    </body>
  </html>