<!DOCTYPE html>
  <html lang="en">
    {% include '_partial_head.html' %}
    <body onload="loadUserDataIntoForm()">

      {% include '_partial_header.html' %}
      <h1>Login</h1>
          <form action="/auth" method="post" onsubmit="onLogin(event)" id="formLogin">
              <label for="username">Your name:</label>
              <input type="text" id="username" name="username" required>
              <input type="hidden" id="did" name="did" >
              <button type="submit">Login</button>
          </form>
        {% include '_partial_footer_login.html' %}
    </body>
</html>